<br>
<h1 style="text-align: center;"><b>Changer mot de passe</b></h1>
<br>
<div class="container col-md-8 col-lg-6 col-xl-6">
    <div class="card" style="padding: 50px;">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <i class="fa fa-lock icon"></i>
                <input type="password" formControlName="userPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.userPassword.errors }" placeholder="Mot de passe actuel"/>
                <div *ngIf="submitted && registerForm.controls.userPassword.errors" class="invalid-feedback">
                    <div *ngIf="registerForm.controls.userPassword.errors.required">Ce champs est obligatoire</div>
                  </div>
            </div>  
          <br>
            <div class="input-group">
                <i class="fa fa-lock icon"></i>
                <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.newPassword.errors }" placeholder="Nouveau mot de passe"/>
            <div *ngIf="submitted && registerForm.controls.newPassword.errors" class="invalid-feedback">
                <div *ngIf="registerForm.controls.newPassword.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <br>
            <div class="input-group">
                <i class="fa fa-lock icon"></i>
                <input type="password" formControlName="confirmNewPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.confirmNewPassword.errors }" placeholder="Confirmer nouveau mot de passe"/>
            <div *ngIf="submitted && registerForm.controls.confirmNewPassword.errors" class="invalid-feedback">
                <div *ngIf="registerForm.controls.confirmNewPassword.errors.required">Ce champs est obligatoire</div>
              </div>
            </div>
            <br>
            <div class="col d-flex justify-content-center">
                <input type="submit" value="Enregistrer les modifications" class="btn btn-primary"
                    style="padding-left: 3.5rem; padding-right: 3.5rem;">
            </div>
        </form><br>
        <span class="col d-flex justify-content-center"><p class="text-danger pl-1" *ngIf="error">Vérifier vos données</p></span>

    </div>
</div>