
<div class="card-deck">

    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem; height: 8rem;">
        <div class="card-body" style="text-align: center;">
    <i class="fas fa-users"></i><br>
    <a (click)="generateReport()">Rapport Capgemini pour la liste des employés</a>
      </div>
    </div>
    <!--
    <div>
      <label for="employeeId">ID Employé:</label>
      <input type="number" id="employeeId" [(ngModel)]="employeeId">
      <button (click)="generateAttestation()">Générer Attestation</button>
    </div>
    -->


  </div>
