
<div class="container">
    <div class="card">
        
        <div class="card-body">

            <h2 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><b>Paramétres</b></h2>

<div class="list">
    <div class="item" (click)="sendMessage()" >
        Envoyer Alerte       
    </div> 
    <div class="item" (click)="listDept()" >
        Gérer les départements        
    </div>   
    <div class="item" (click)="listContrat()" >
        Gérer les contrats        
    </div> 
    <div class="item" (click)="listType()">
        Gérer types des contrats        
    </div> 
    <div class="item" (click)="changePass(employee.idCapgemini)">
        changer mot de passe       
    </div> 
        </div>
       </div>
</div>
