<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fa fa-bar-chart"></i> Tableau de bord</h1>
</div>
<div class="row">
    <div class="col-md-4">
      <div class="card-collapsible card">
        <div class="card-header">
            Genre 
        </div>
        <div class="card-body d-flex justify-content-around">
            <canvas class="chart w-100" id="myChart" ></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card-collapsible card">
        <div class="card-header">
            Répartition selon département
        </div>
        <div class="card-body d-flex justify-content-around">
            <canvas class="chart w-100" id="myBarChartDepartment"></canvas>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="card-collapsible card">
        <div class="card-header">
            Type Contrat 
        </div>
        <div class="card-body d-flex justify-content-around">
            <canvas class="chart w-100" id="myCharttypeContrat" ></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card-collapsible card">
        <div class="card-header">
            Répartition selon l'age 
        </div>
        <div class="card-body d-flex justify-content-around">
            <canvas class="chart w-100" id="myBarChartAge"></canvas>
        </div>
      </div>
    </div>
    
  </div>
 