<br>
<br>
<br>
<div class="container col-md-8 col-lg-6 col-xl-4">
  <div class="card" style="padding: 50px;">
    	<h3><b>Récupérer votre mot de passe</b></h3>
      <div class="card-body">
Veuillez entrer votre adresse e-mail pour recevoir votre nouveau mot de passe.
<br>
<br>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-group">
          <input
            type="email"
            formControlName="emailPerso"
            id="emailPerso"
            placeholder="Entrer votre email"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && registerForm.controls.emailPerso.errors }"
          />
          <div
            *ngIf="submitted && registerForm.controls.emailPerso.errors"
            class="invalid-feedback">
            <div *ngIf="registerForm.controls.emailPerso.errors.required">
              Ce champ est obligatoire
            </div>
            <div *ngIf="registerForm.controls.emailPerso.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-center">
        <input
          type="submit"
          value="Envoyer"
          class="btn btn-primary"
          style="padding-left: 3.5rem; padding-right: 3.5rem;"
        />
      </div>
    </form>
  </div>
  </div>
</div>
