<div class="container">
    <div class="card">
        <div class="card-header text-white bg-info">
            <b>Créer un département</b>
            
        </div>   
        <div class="card-body">
            <div class="container"> 
    <form #loginForm="ngForm" (ngSubmit) = "submit()">
            
        
        <div class="form-group">
            <label> nom de département </label>
            <input type="text" class="form-control" id="nom" [(ngModel)]="departement.nomDept" name="nom">
        </div>
        
        <div class="text-right">
        <button class="btn btn-success" type="submit">Enregistrer</button>
        </div>

    </form>
</div>
    </div>
    </div>
    </div>
    